.filterContainer {
  width: 100%;
  margin: 20px auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 5px;
}

.subFilters {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.subItem {
  padding: 6px 12px;
  border: 1px solid #444;
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  transition: 0.2s ease;
}

.subItem:hover {
  background-color: #f0f0f0;
}

.subItem.active {
  background-color: black;
  color: white;
}