table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin-top: 50px;
}

th,
td {
    border: 1px solid #333;
    padding: 8px;
}

th {
    background-color: #f2f2f2;
}